*{
    font-family: Public sans;
    margin: 0;
}

header{
    display: inline-block;
    padding: 45px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    text-align: center;
    vertical-align: middle;
    
}

.logo{
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.informacoes a{
    text-decoration: none;
    color: black;
    
}

.informacoes li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
}

.informacoes li:hover{
    a{
        color: white;
    }
    background-color: rgb(88, 209, 88);
  
}

.botao{
    text-align: center;
    background-color: rgb(88, 209, 88);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}